<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>452894265369-oeocnjidch98seecgld2c5mva6pfi5ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452894265369-oeocnjidch98seecgld2c5mva6pfi5ld</string>
	<key>API_KEY</key>
	<string>AIzaSyAAgsU0d34xFxLKvoJfug2a_5_kddYx6a0</string>
	<key>GCM_SENDER_ID</key>
	<string>452894265369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Melody-Yang.Makestagram</string>
	<key>PROJECT_ID</key>
	<string>makestagram-4c4a6</string>
	<key>STORAGE_BUCKET</key>
	<string>makestagram-4c4a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:452894265369:ios:1f918aa130dab72c</string>
	<key>DATABASE_URL</key>
	<string>https://makestagram-4c4a6.firebaseio.com</string>
</dict>
</plist>
